@use '@styles/settings' as *;

.score-card {
  $score-card: &;

  &__inside {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    overflow: hidden;
    background-clip: padding-box;
    border: 1px solid rgba($blue-dark, .1);
    box-shadow: 0 4px 6px rgba($dark, .1);

    @include mq(breakpoint(med)) {
      @include sizing('min-height', 250px);
    }

    &.is-left {
      #{$score-card}__image {
        right: 0;
      }
    }

    &.is-right {
      #{$score-card}__row {
        flex-direction: row-reverse;
      }

      #{$score-card}__image {
        left: 0;
      }
    }
  }

  &__image {
    overflow: hidden;

    @include mq(breakpoint(med)) {
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }

  &__content {
    @include sizing('padding', size(layout(gutter)));
  }

  &__figure {
    height: 100%;
  }
}

.score {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: z-index(sml);
  justify-content: flex-end;

  @include sizing('inset', size(5));

  &__num {
    display: inline-flex;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;

    @include sizing('width', 35px);
    @include sizing('height', 35px);
  }

  &__pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include sizing('margin-top', size(2));
    @include sizing('padding', size(3));
  }
}
