@use '../settings' as *;

html {
  min-height: height(fullscreen);
  overflow: hidden scroll;
  background-color: $light;
  color: $body;
  line-height: 1.6;
  text-rendering: optimizespeed;

  @include font-smoothing;
  @include selection;
  @include scrollbar(
    $blue-dark,
    $light
  );
  @extend %f-body;
  @extend %f-body-regular;

  @include mq(breakpoint(med)) {
    scroll-behavior: smooth;
  }

  @include mq(breakpoint(med), max-width) {
    @include sizing('scroll-padding-top', layout(header-height));
  }
}
