@use '@styles/settings' as *;

.quote {
  $quote: &;

  &__figure {
    position: absolute;
    top: 0;
    left: 0;

    @include mq(breakpoint(med)) {
      @include sizing('max-width', size(30));
    }

    @include mq(breakpoint(med), max-width) {
      @include sizing('max-width', size(14));
    }
  }

  &__content {
    position: relative;

    @include mq(breakpoint(med)) {
      @include sizing('padding-left', size(calc(layout(gutter) + 30)));
    }

    @include mq(breakpoint(med), max-width) {
      @include sizing('padding-left', size(calc(layout(gutter) + 12)));
    }
  }

  &__blockquote {
    @extend %f-heading;

    @include mq(breakpoint(med)) {
      @include sizing('font-size', font-size(xxlrg));

      line-height: 1.2;
    }

    @include mq(breakpoint(med), max-width) {
      line-height: 1.3;

      @include sizing('font-size', font-size(lrg));

    }
  }

  &__cite {
    display: block;
  }
}
