<!DOCTYPE html>
<html lang="en">
  {{> Head/Head.template }}
  <body id="top">
    {{> Header/Header.template
      containerModifiers='u-bg-light u-spacing-t-xsml u-spacing-b-xsml'
      rowModifiers=''
      imageModifiers='is-contain'
      image='../components/Header/images/logo.svg'
      url='/'
      imageWidth='150'
      imageHeight='36'
      imageAlt='Remitly'
    }}
    {{> Hero/Hero.template
      containerModifiers='u-bg-cream u-spacing-t-med u-spacing-b-med'
      rowModifiers='direction-row-reverse align-center'
      contentModifiers='u-text-body'
      imageModifiers='is-cover u-radius-tl-tr-br-xlrg'
      contentCol='6'
      imageCol='6'
      subtitle='<h6>Sub title</h6>'
      title='<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>'
      btnText='Learn more'
      btnLink='#chapter-1'
      btnColor='blue-dark'
      image='../components/Hero/images/hero.jpg'
      imageAlt='Image'
    }}
    <div class="l-row med-direction-row-reverse u-spacing-b-med">
      <div class="l-row__col med-width-9">
        {{> Content/Content.template
          containerModifiers='u-bg-light u-spacing-t-med'
          rowModifiers=''
          contentModifiers='u-text-body u-link-blue-light'
          content='
            <h3><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, dolorem assumenda at aut harum unde quod, amet corporis iusto cum, natus sint molestias quas velit eum doloremque non quidem odit.<sup>[1]</sup></strong></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima praesentium sint aliquam, <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">link</a> ipsum a temporibus! Dicta, minus non aliquid neque laborum omnis, nulla, accusantium commodi pariatur modi iusto sapiente qui!</p>
          '
        }}
        {{> Score-card/Score-card.template
          containerModifiers='u-spacing-t-med'
          rowModifiers=''
          insideModifiers='u-bg-light is-left u-radius-xlrg'
          imageModifiers='is-cover u-overlay-dark'
          contentCol='7'
          imageCol='5'
          contentModifiers='u-text-body u-link-blue-dark'
          content='
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro nesciunt nobis dolorum harum, inventore perspiciatis placeat suscipit optio illo quasi eius quis aspernatur rerum nostrum perferendis culpa dolore laudantium! Voluptate.</p>
          '
          scoreNumColor='light'
          scoreNumBg='blue-light'
          scoreColor='light'
          scorePillColor='light'
          scorePillBg='blue-light'
          image='../components/Score-card/images/image-1.jpg'
          num='1'
          country='Australia'
          subtitle='Expat Index score'
          score='8.20/10'
        }}
        {{> Score-card/Score-card.template
          containerModifiers='u-spacing-t-med'
          rowModifiers=''
          insideModifiers='u-bg-light is-right u-radius-xlrg'
          imageModifiers='is-cover u-overlay-dark'
          contentCol='7'
          imageCol='5'
          contentModifiers='u-text-body u-link-blue-dark'
          content='
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro nesciunt nobis dolorum harum, inventore perspiciatis placeat suscipit optio illo quasi eius quis aspernatur rerum nostrum perferendis culpa dolore laudantium! Voluptate.</p>
          '
          scoreNumColor='light'
          scoreNumBg='blue-light'
          scoreColor='light'
          scorePillColor='light'
          scorePillBg='blue-light'
          image='../components/Score-card/images/image-1.jpg'
          num='1'
          country='Croydon'
          subtitle='Expat Index score'
          score='8.20/10'
        }}
        {{> Chapter/Chapter.template
          id='chapter-1'
          containerModifiers='u-bg-light u-spacing-t-med u-spacing-b-med'
          rowModifiers=''
          contentModifiers='u-text-body u-link-blue-light'
          subtitle='<h6>Chapter 1</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto modi adipisci ducimus sint, consectetur esse iste earum quibusdam debitis qui perferendis placeat voluptatibus quo, animi obcaecati, at mollitia saepe beatae?</p>'
        }}
        {{> Content-image/Content-image.template
          containerModifiers='mob-flush-container u-bg-cream u-spacing-t-med u-spacing-b-med u-radius-tl-tr-br-xlrg'
          rowModifiers='align-center has-padding'
          contentModifiers='u-text-body u-link-blue-dark'
          imageModifiers='is-contain u-radius-sml'
          image='../components/Content-image/images/image.svg'
          imageAlt='Image'
          subtitle='<h6>Subtitle</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">lorem</a> adipisicing elit. Quaerat explicabo, blanditiis tenetur quis et ullam impedit quae maiores cumque assumenda eius minima unde, voluptate atque enim exercitationem dolores id aut.</p>'
          imageCol='5'
          contentCol='7'
        }}
        {{> Content-image/Content-image.template
          containerModifiers='u-spacing-t-med'
          rowModifiers='align-center direction-row-reverse'
          contentModifiers='u-text-body u-link-blue-dark'
          imageModifiers='is-contain u-radius-sml'
          image='../components/Content-image/images/image.svg'
          imageAlt='Image'
          subtitle='<h6>Subtitle</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">lorem</a> adipisicing elit. Quaerat explicabo, blanditiis tenetur quis et ullam impedit quae maiores cumque assumenda eius minima unde, voluptate atque enim exercitationem dolores id aut.</p>'
          imageCol='5'
          contentCol='7'
        }}
        {{> Chapter/Chapter.template
          id='chapter-2'
          containerModifiers='u-bg-light u-spacing-t-med u-spacing-b-med'
          rowModifiers=''
          contentModifiers='u-text-body u-link-blue-light'
          subtitle='<h6>Chapter 2</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto modi adipisci ducimus sint, consectetur esse iste earum quibusdam debitis qui perferendis placeat voluptatibus quo, animi obcaecati, at mollitia saepe beatae?</p>'
        }}
        {{> Content-image/Content-image.template
          containerModifiers='mob-flush-container u-bg-cream u-spacing-t-med u-spacing-b-med u-radius-tl-tr-br-xlrg'
          rowModifiers='align-center has-padding'
          contentModifiers='u-text-body u-link-blue-dark'
          imageModifiers='is-contain u-radius-sml'
          image='../components/Content-image/images/image.svg'
          imageAlt='Image'
          subtitle='<h6>Subtitle</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">lorem</a> adipisicing elit. Quaerat explicabo, blanditiis tenetur quis et ullam impedit quae maiores cumque assumenda eius minima unde, voluptate atque enim exercitationem dolores id aut.</p>'
          imageCol='5'
          contentCol='7'
        }}
        {{> Content-image/Content-image.template
          containerModifiers='u-spacing-t-med'
          rowModifiers='align-center direction-row-reverse'
          contentModifiers='u-text-body u-link-blue-dark'
          imageModifiers='is-contain u-radius-sml'
          image='../components/Content-image/images/image.svg'
          imageAlt='Image'
          subtitle='<h6>Subtitle</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">lorem</a> adipisicing elit. Quaerat explicabo, blanditiis tenetur quis et ullam impedit quae maiores cumque assumenda eius minima unde, voluptate atque enim exercitationem dolores id aut.</p>'
          imageCol='5'
          contentCol='7'
        }}
      </div>
      <div class="l-row__col med-width-3">
        {{> Social/Social.template
          containerModifiers='u-spacing-t-med'
          shareTitle='Share this article'
          tocTitle='Table of contents'
          tocLinks=(array
            (hash id='chapter-1' href='#chapter-1' text='Chapter 1')
            (hash id='chapter-2' href='#chapter-2' text='Chapter 2')
            (hash id='chapter-3' href='#chapter-3' text='Chapter 3')
            (hash id='chapter-4' href='#chapter-4' text='Chapter 4')
          )
        }}
      </div>
    </div>
    {{> Blog/Blog.template
      containerModifiers='u-bg-cream u-spacing-t-lrg u-spacing-b-lrg'
      contentModifiers='u-text-body u-link-blue-dark'
      content='
        <h2><strong>Top stories from Reimagine</strong></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae veritatis ipsum tempora consectetur dolore deleniti laudantium quibusdam suscipit.</p>
      '
      posts=(array
        (hash
          articleModifiers='u-bg-blue-dark u-radius-tl-tr-br-xlrg'
          contentModifiers='u-text-light u-link-light'
          imageModifiers='is-cover u-ratio-4x3'
          image='../components/Blog/images/blog.jpg'
          alt='The Immigration Index 2024'
          title='The Immigration Index 2024'
          readMoreText='Read more'
          url='/blog/immigration-index-2024'
        )
        (hash
          articleModifiers='u-bg-blue-dark u-radius-tl-tr-br-xlrg'
          contentModifiers='u-text-light u-link-light'
          imageModifiers='is-cover u-ratio-4x3'
          image='../components/Blog/images/blog.jpg'
          alt='Financial Literacy for Kids'
          title='Financial Literacy for Kids'
          readMoreText='Read more'
          url='/blog/financial-literacy'
        )
        (hash
          articleModifiers='u-bg-blue-dark u-radius-tl-tr-br-xlrg'
          contentModifiers='u-text-light u-link-light'
          imageModifiers='is-cover u-ratio-4x3'
          image='../components/Blog/images/blog.jpg'
          alt='Managing Money Abroad'
          title='Managing Money Abroad'
          readMoreText='Read more'
          url='/blog/managing-money-abroad'
        )
        (hash
          articleModifiers='u-bg-blue-dark u-radius-tl-tr-br-xlrg'
          contentModifiers='u-text-light u-link-light'
          imageModifiers='is-cover u-ratio-4x3'
          image='../components/Blog/images/blog.jpg'
          alt='Tips for Working Abroad'
          title='Tips for Working Abroad'
          readMoreText='Read more'
          url='/blog/working-abroad'
        )
      )
      btnText='View all articles'
      btnLink='/blog'
      btnColor='blue-dark'
    }}
    {{> Content/Content.template
      containerModifiers='u-bg-light u-spacing-t-sml u-spacing-b-sml'
      rowModifiers=''
      contentModifiers='u-text-body u-link-blue-light'
      content='
        <p><small>This publication is provided for general information purposes only and is not intended to cover all aspects of the topics discussed herein. This publication is not a substitute for seeking advice from an applicable specialist or professional. The content in this publication does not constitute legal, tax, or other professional advice from Remitly or any of its affiliates and should not be relied upon as such. While we strive to keep our posts up to date and accurate, we cannot represent, warrant or otherwise guarantee that the content is accurate, complete or up to date.</small></p>
      '
    }}
    {{> Footer/Footer.template
      containerModifiers='u-bg-blue-dark u-text-light u-small u-spacing-b-sml u-link-light no-underline u-spacing-t-sml'
      rowModifiers='align-center'
      contentCol='10'
      linkCol='2'
      content='<p class="u-bold"><small>©2012 - 2025 Remitly, Inc. All rights reserved</small></p><p><small>Remitly U.K., Ltd, trading as Remitly, is a company registered in England and Wales (registration number 09896841). It is authorised and regulated by the Financial Conduct Authority under the Payment Services Regulations 2017 (reference no. 728639) for the provision of payment services. Registered address: 90 Whitfield Street, W1T 4EZ London, United Kingdom.</small></p>'
      linkText='Back to the top'
      linkUrl='#top'
      linkIcon='chevron-up'
    }}
  </body>
</html>
