<!DOCTYPE html>
<html lang="en">
  {{> Head/Head.template }}
  <body id="top">
    {{> Header/Header.template
      image='../components/Header/images/logo.svg'
      url='/'
      imageWidth='150'
      imageHeight='36'
      imageAlt='Remitly'
    }}
    {{> Hero/Hero.template
      containerModifiers='u-bg-cream u-spacing-t-med u-spacing-b-med'
      rowModifiers='direction-row-reverse align-center'
      contentModifiers='u-text-body'
      imageModifiers='is-cover u-radius-tl-tr-br-xlrg'
      contentCol='6'
      imageCol='6'
      subtitle='<h6>new title</h6>'
      title='<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>'
      btnText='Learn more'
      btnLink='#chapter-1'
      btnColor='blue-dark'
      image='../components/Hero/images/hero.jpg'
      imageAlt='Image'
    }}
    <main class="l-row u-spacing-b-xlrg">
      <aside class="l-row__col med-width-3 u-spacing-t-med u-hide-from-med">
        {{> Sidebar/Sidebar.template
          containerModifiers='u-spacing-t-med'
        }}
      </aside>
      <article class="l-row__col med-width-9 u-spacing-t-med">
        {{> Chapter/Chapter.template
          containerModifiers='mob-flush-container u-bg-body u-spacing-t-med u-spacing-b-med'
          rowModifiers='has-padding'
          contentModifiers='u-text-light u-link-light'
          title='<h2>Key Findings</h2>'
          content='
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto modi adipisci ducimus sint, consectetur esse iste earum quibusdam debitis qui perferendis placeat voluptatibus quo, animi obcaecati, at mollitia saepe beatae?</p>
            <ul>
              <li><strong>lorem</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolore.</li>
              <li><strong>lorem</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolore.</li>
              <li><strong>lorem</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolore.</li>
              <li><strong>lorem</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolore.</li>
              <li><strong>lorem</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolore.</li>
            </ul>
          '
        }}
        {{> Content/Content.template
          id='key'
          containerModifiers='u-bg-light u-spacing-t-med'
          rowModifiers=''
          contentModifiers='u-text-body u-link-blue-light'
          content='
            <h3><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, dolorem assumenda at aut harum unde quod, amet corporis iusto cum, natus sint molestias quas velit eum doloremque non quidem odit.<sup>[1]</sup></strong></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima praesentium sint aliquam, <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">link</a> ipsum a temporibus! Dicta, minus non aliquid neque laborum omnis, nulla, accusantium commodi pariatur modi iusto sapiente qui!</p>
          '
        }}
        {{> Table/Table.template
          containerModifiers='u-spacing-t-med'
          rowModifiers=''
          source='result1'
          columns='country,average_annual_wages_usd,average_annual_hours_per_person,estimated_hourly_rate_usd'
          th=(array
            (hash className='has-radius-t-l' text='Rank')
            (hash className='' text='Country')
            (hash className='' text='Average Wage')
            (hash className='' text='Hours')
            (hash className='has-radius-t-r' text='Rate')
          )
        }}
        {{> Content/Content.template
          containerModifiers='u-bg-light u-spacing-t-med'
          rowModifiers=''
          contentModifiers='u-text-body u-link-blue-light'
          content='
            <h3><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, dolorem assumenda at aut harum unde quod, amet corporis iusto cum, natus sint molestias quas velit eum doloremque non quidem odit.<sup>[1]</sup></strong></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima praesentium sint aliquam, <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">link</a> ipsum a temporibus! Dicta, minus non aliquid neque laborum omnis, nulla, accusantium commodi pariatur modi iusto sapiente qui!</p>
          '
        }}
        {{> Table/Table.template
          containerModifiers='u-spacing-t-med'
          source='result2'
          th=(array
            (hash className='has-radius-t-l' text='Rank')
            (hash className='' text='Country')
            (hash className='' text='Rate')
            (hash className='' text='Hours UK')
            (hash className='has-radius-t-r' text='Difference')
          )
        }}
        {{> Score-card/Score-card.template
          containerModifiers='u-spacing-t-med'
          rowModifiers=''
          insideModifiers='u-bg-light is-left u-radius-xlrg'
          imageModifiers='is-cover u-overlay-dark'
          contentCol='7'
          imageCol='5'
          contentModifiers='u-text-body u-link-blue-dark'
          content='
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro nesciunt nobis dolorum harum, inventore perspiciatis placeat suscipit optio illo quasi eius quis aspernatur rerum nostrum perferendis culpa dolore laudantium! Voluptate.</p>
          '
          scoreNumColor='light'
          scoreNumBg='blue-light'
          scoreColor='light'
          scorePillColor='light'
          scorePillBg='blue-light'
          image='../components/Score-card/images/image-1.jpg'
          num='1'
          country='Australia'
          subtitle='Expat Index score'
          score='8.20/10'
        }}
        {{> Score-card/Score-card.template
          containerModifiers='u-spacing-t-med'
          rowModifiers=''
          insideModifiers='u-bg-light is-right u-radius-xlrg'
          imageModifiers='is-cover u-overlay-dark'
          contentCol='7'
          imageCol='5'
          contentModifiers='u-text-body u-link-blue-dark'
          content='
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro nesciunt nobis dolorum harum, inventore perspiciatis placeat suscipit optio illo quasi eius quis aspernatur rerum nostrum perferendis culpa dolore laudantium! Voluptate.</p>
          '
          scoreNumColor='light'
          scoreNumBg='blue-light'
          scoreColor='light'
          scorePillColor='light'
          scorePillBg='blue-light'
          image='../components/Score-card/images/image-1.jpg'
          num='1'
          country='Croydon'
          subtitle='Expat Index score'
          score='8.20/10'
        }}
        {{> Chapter/Chapter.template
          id='chapter-1'
          containerModifiers='u-bg-light u-spacing-t-med u-spacing-b-med'
          rowModifiers=''
          contentModifiers='u-text-body u-link-blue-light'
          subtitle='<h6>Chapter 1</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto modi adipisci ducimus sint, consectetur esse iste earum quibusdam debitis qui perferendis placeat voluptatibus quo, animi obcaecati, at mollitia saepe beatae?</p>'
        }}
        {{> Content-image/Content-image.template
          containerModifiers='mob-flush-container u-bg-cream u-spacing-t-med u-spacing-b-med u-radius-tl-tr-br-xlrg'
          rowModifiers='align-center has-padding'
          contentModifiers='u-text-body u-link-blue-dark'
          imageModifiers='is-contain u-radius-sml'
          image='../components/Content-image/images/image.svg'
          imageAlt='Image'
          subtitle='<h6>Subtitle</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">lorem</a> adipisicing elit. Quaerat explicabo, blanditiis tenetur quis et ullam impedit quae maiores cumque assumenda eius minima unde, voluptate atque enim exercitationem dolores id aut.</p>'
          imageCol='5'
          contentCol='7'
        }}
        {{> Content-image/Content-image.template
          containerModifiers='u-spacing-t-med'
          rowModifiers='align-center direction-row-reverse'
          contentModifiers='u-text-body u-link-blue-dark'
          imageModifiers='is-contain u-radius-sml'
          image='../components/Content-image/images/image.svg'
          imageAlt='Image'
          subtitle='<h6>Subtitle</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">lorem</a> adipisicing elit. Quaerat explicabo, blanditiis tenetur quis et ullam impedit quae maiores cumque assumenda eius minima unde, voluptate atque enim exercitationem dolores id aut.</p>'
          imageCol='5'
          contentCol='7'
        }}
        {{> Chapter/Chapter.template
          id='chapter-2'
          containerModifiers='u-bg-light u-spacing-t-med u-spacing-b-med'
          rowModifiers=''
          contentModifiers='u-text-body u-link-blue-light'
          subtitle='<h6>Chapter 2</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto modi adipisci ducimus sint, consectetur esse iste earum quibusdam debitis qui perferendis placeat voluptatibus quo, animi obcaecati, at mollitia saepe beatae?</p>'
        }}
        {{> Content-image/Content-image.template
          containerModifiers='mob-flush-container u-bg-cream u-spacing-t-med u-spacing-b-med u-radius-tl-tr-br-xlrg'
          rowModifiers='align-center has-padding'
          contentModifiers='u-text-body u-link-blue-dark'
          imageModifiers='is-contain u-radius-sml'
          image='../components/Content-image/images/image.svg'
          imageAlt='Image'
          subtitle='<h6>Subtitle</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">lorem</a> adipisicing elit. Quaerat explicabo, blanditiis tenetur quis et ullam impedit quae maiores cumque assumenda eius minima unde, voluptate atque enim exercitationem dolores id aut.</p>'
          imageCol='5'
          contentCol='7'
        }}
        {{> Quote/Quote.template
          containerModifiers='u-bg-light u-spacing-t-lrg'
          rowModifiers='align-center'
          image='../components/Quote/images/quote.jpg'
          imageAlt='John Doe'
          imageModifiers='u-radius-round is-cover u-ratio-1x1'
          quoteModifiers='u-bold u-text-body u-spacing-b-xsml'
          quote='Lorem ipsum dolor sit amet consectetur adipisicing elit. Error alias dignissimos eveniet maxime, fugit deleniti delectus nemo voluptatibus.'
          authorModifiers='u-bold u-text-body'
          author='John Doe'
          titleModifiers='u-small u-text-body'
          title='Lorem ipsum dolor sit'
        }}
        {{> Content-image/Content-image.template
          containerModifiers='u-spacing-t-med'
          rowModifiers='align-center direction-row-reverse'
          contentModifiers='u-text-body u-link-blue-dark'
          imageModifiers='is-contain u-radius-sml'
          image='../components/Content-image/images/image.svg'
          imageAlt='Image'
          subtitle='<h6>Subtitle</h6>'
          title='<h2>Lorem ipsum dolor sit amet consectetur</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur <a href="https://www.remitly.com/us/en" target="_blank" rel="noreferrer">lorem</a> adipisicing elit. Quaerat explicabo, blanditiis tenetur quis et ullam impedit quae maiores cumque assumenda eius minima unde, voluptate atque enim exercitationem dolores id aut.</p>'
          imageCol='5'
          contentCol='7'
        }}
        {{> Faq/Faq.template
          id='faq'
          containerModifiers='u-spacing-t-lrg'
          rowModifiers=''
          titleModifiers='u-h2 u-bold u-text-body'
          title='<h2>Frequently Asked Questions</h2>'
          content='<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eius asperiores aperiam porro odio id amet, consequuntur dignissimos, neque blanditiis quis, consectetur minus. Totam tempora aperiam, eius vitae aspernatur quod?</p>'
          items=(array
            (hash
              labelBy='question-1'
              itemModifiers='is-dark'
              triggerModifiers='u-h5 u-bold u-text-body'
              contentModifiers='u-text-body u-link-blue-dark'
              question='Lorem ipsum, dolor sit amet?'
              answer='<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati asperiores mollitia amet illum quos, dolorem praesentium natus ab facere corporis porro! Similique facilis nostrum adipisci earum repellat veritatis, a obcaecati!</p>'
            )
            (hash
              labelBy='question-2'
              itemModifiers='is-dark'
              triggerModifiers='u-h5 u-bold u-text-body'
              contentModifiers='u-text-body u-link-blue-dark'
              question='Lorem ipsum, dolor sit amet?'
              answer='<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati asperiores mollitia amet illum quos, dolorem praesentium natus ab facere corporis porro! Similique facilis nostrum adipisci earum repellat veritatis, a obcaecati!</p>'
            )
            (hash
              labelBy='question-3'
              itemModifiers='is-dark'
              triggerModifiers='u-h5 u-bold u-text-body'
              contentModifiers='u-text-body u-link-blue-dark'
              question='Lorem ipsum, dolor sit amet?'
              answer='<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati asperiores mollitia amet illum quos, dolorem praesentium natus ab facere corporis porro! Similique facilis nostrum adipisci earum repellat veritatis, a obcaecati!</p>'
            )
            (hash
              labelBy='question-4'
              itemModifiers='is-dark'
              triggerModifiers='u-h5 u-bold u-text-body'
              contentModifiers='u-text-body u-link-blue-dark'
              question='Lorem ipsum, dolor sit amet?'
              answer='<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati asperiores mollitia amet illum quos, dolorem praesentium natus ab facere corporis porro! Similique facilis nostrum adipisci earum repellat veritatis, a obcaecati!</p>'
            )
          )
        }}
        {{> Social/Social.template
          containerModifiers='u-show-from-med u-spacing-t-lrg'
          shareTitle='Share this article'
        }}
      </article>
    </main>
    {{> Blog/Blog.template
      containerModifiers='u-bg-body u-spacing-t-lrg u-spacing-b-lrg'
      contentModifiers='u-text-light u-link-light'
      content='
        <h2><strong>Lorem ipsum, dolor sit amet consectetur</strong></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit recusandae veritatis ipsum.</p>
      '
      posts=(array
        (hash
          articleModifiers='u-bg-blue-dark u-radius-tl-tr-br-xlrg'
          contentModifiers='u-text-light u-link-light'
          imageModifiers='is-cover u-ratio-4x3'
          image='../components/Blog/images/blog.jpg'
          alt='The Immigration Index 2024'
          title='The Immigration Index 2024'
          readMoreText='Read more'
          url='/blog/immigration-index-2024'
        )
        (hash
          articleModifiers='u-bg-blue-dark u-radius-tl-tr-br-xlrg'
          contentModifiers='u-text-light u-link-light'
          imageModifiers='is-cover u-ratio-4x3'
          image='../components/Blog/images/blog.jpg'
          alt='Financial Literacy for Kids'
          title='Financial Literacy for Kids'
          readMoreText='Read more'
          url='/blog/financial-literacy'
        )
        (hash
          articleModifiers='u-bg-blue-dark u-radius-tl-tr-br-xlrg'
          contentModifiers='u-text-light u-link-light'
          imageModifiers='is-cover u-ratio-4x3'
          image='../components/Blog/images/blog.jpg'
          alt='Managing Money Abroad'
          title='Managing Money Abroad'
          readMoreText='Read more'
          url='/blog/managing-money-abroad'
        )
        (hash
          articleModifiers='u-bg-blue-dark u-radius-tl-tr-br-xlrg'
          contentModifiers='u-text-light u-link-light'
          imageModifiers='is-cover u-ratio-4x3'
          image='../components/Blog/images/blog.jpg'
          alt='Tips for Working Abroad'
          title='Tips for Working Abroad'
          readMoreText='Read more'
          url='/blog/working-abroad'
        )
      )
      btnText='View all articles'
      btnLink='/blog'
      btnColor='blue-dark'
    }}
    {{> Contact/Contact.template
      containerModifiers='u-bg-cream u-spacing-t-med u-spacing-b-med'
      rowModifiers='align-center'
      iconModifiers='u-icon-mail is-xxxlrg is-blue-dark'
      titleModifiers='u-h5 u-bold u-text-body'
      title='<h5>Questions about the data?</h5>'
      subtitleModifiers='u-small u-text-body'
      subtitle='<p>Send us an email</p>'
      btnText='Get in touch'
      btnLink='mailto:press@remitly.com'
      btnModifiers='u-btn-blue-dark'
    }}
    {{> Content/Content.template
      containerModifiers='u-bg-light u-spacing-t-sml u-spacing-b-sml'
      rowModifiers=''
      contentModifiers='u-text-body u-link-blue-light'
      content='
        <p><small>This publication is provided for general information purposes only and is not intended to cover all aspects of the topics discussed herein. This publication is not a substitute for seeking advice from an applicable specialist or professional. The content in this publication does not constitute legal, tax, or other professional advice from Remitly or any of its affiliates and should not be relied upon as such. While we strive to keep our posts up to date and accurate, we cannot represent, warrant or otherwise guarantee that the content is accurate, complete or up to date.</small></p>
      '
    }}
    {{> Footer/Footer.template
      containerModifiers='u-bg-blue-dark u-text-light u-small u-spacing-b-sml u-link-light no-underline u-spacing-t-sml'
      rowModifiers='align-center'
      contentCol='10'
      linkCol='2'
      content='<p class="u-bold"><small>©2012 - 2025 Remitly, Inc. All rights reserved</small></p><p><small>Remitly U.K., Ltd, trading as Remitly, is a company registered in England and Wales (registration number 09896841). It is authorised and regulated by the Financial Conduct Authority under the Payment Services Regulations 2017 (reference no. 728639) for the provision of payment services. Registered address: 90 Whitfield Street, W1T 4EZ London, United Kingdom.</small></p>'
      linkText='Back to the top'
      linkUrl='#top'
      linkIcon='chevron-up'
    }}
  </body>
</html>
