<!DOCTYPE html>
<html lang="en">
  {{> head/head.template }}
  <body class="home">
    {{> header/header.template }}
    {{> intro/intro.template }}
    {{> currency-select/currency-select.template }}
    {{> expert-tips/expert-tips.template }}
    {{> methodology/methodology.template }}
    {{> footer/footer.template }}
    {{> social/social.template }}
    {{> foot/foot.template }}
  </body>
</html>
