<!DOCTYPE html>
<html lang="en">
  {{> Head/Head.template }}
  <body id="top">
    {{> Table/Table.template
      containerModifiers='u-bg-light u-spacing-t-med u-spacing-b-med'
      rowModifiers=''
      titleModifiers='u-text-heading'
      title='<h2>Table Title</h2>'
      contentModifiers='u-text-body'
      content='<p>Table description goes here.</p>'
    }}
  </body>
</html>
