<header data-module="Hero" style="opacity: 0" class="u-load-hide">
  <div
    class="flex overflow-hidden flex-col justify-center items-center px-20 py-24 font-extrabold text-center bg-grey text-slate-700 max-md:px-5 max-md:pt-24"
  >
    <div class="flex flex-col max-w-full w-[710px]">
      <h1 class="text-9xl leading-36 max-md:max-w-full max-md:text-6xl max-md:leading-none font-family-Masqualero">
        {{title}}
      </h1>
    </div>
  </div>
</header>