<nav
  class="lg:flex items-center buttons-section justify-center lg:justify-between py-4 lg:py-0 lg:px-0 bg-green lg:bg-[#F0ECE5] relative top-0 z-10"
  aria-label="Global"
  id="nav"
>
  <div class="flex xl:hidden self-start justify-end close">
    <div class="border !border-white border-solid px-2 hidden absolute right-4 top-4 line-height-1" id="close_nav">
      <i class="far fa-xmark text-2xl text-white"></i>
    </div>
    <button
      type="button"
      class="mx-auto inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 mobile-menu"
    >
      <span class="sr-only">
        Open main menu
      </span>
      <svg
        class="h-8 w-8 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>

  <div class="navbar hidden lg:grid lg:grid-cols-2 justify-between w-full">
    <a
      href="#"
      class="section-link block uppercase active hover:bg-[#B3C066] !hover:text-white"
      data-section-primary="fewest-hours"
    >
      <span>
        Fewest hours
      </span>
    </a>
    <a
      href="#"
      class="section-link block uppercase max-lg:bg-[#E97657] lg:hover:bg-[#E97657] !hover:text-white"
      data-section-primary="most-hours"
    >
      <span>
        most hours
      </span>
    </a>
  </div>
</nav>

<div class="section_primary open" id="fewest-hours">
  <section class="mt-16 text-center max-w-3xl mx-auto container px-6 lg:px-0">
    <h2
      class="px-5 py-0 text-3xl font-bold leading-snug text-slate-700 max-sm:text-2xl font-family-Masqualero mx-auto max-w-3xl"
    >
      Top 5 countries where you'd have to work the fewest hours to earn the UK salary
    </h2>

    <p class="py-3 lg:py-6 max-w-6xl mx-auto">
      On average, the UK annual salary is £45,687.50, with UK residents working an average of 1,524 hours to earn this,
      equating to £29.98 an hour. But how does that compare to other countries around the world? We've sourced the
      average salary and working hours in countries to calculate the average hourly rate. Using this, we were able to
      reveal the countries whose residents would have to work the fewest hours to match the UK's average annual salary.
    </p>

    <p class="mt-5 mb-10 border px-2 py-2 border-[#2C415A] rounded-md font-semibold max-w-xl mx-auto">
      <i class="far fa-clock"></i>
      Annual number of hours needed to work to earn UK salary
    </p>
  </section>

  <section class="flex flex-wrap gap-12 lg:gap-x-8 justify-center p-5 mx-auto my-0 lg:pb-24 max-w-[1200px]">
    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/luxembourg.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            1
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/luxembourg.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        LUXEMBOURG
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-green rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          938 hours
        </span>
      </div>

      <p class="text-base font-medium leading-normal text-left text-slate-700">
        In Luxembourg, earning the average UK salary takes just 39 days or 938 hours of work—significantly less than the
        1,524 hours Britons typically work. The hourly wage in Luxembourg is notably higher, estimated at £48.69,
        compared to the UK's £29.98 per hour.
      </p>
    </article>

    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/iceland.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            2
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/iceland.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        Iceland
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-green rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          954 hours
        </span>
      </div>

      <div class="text-base font-medium leading-normal text-left text-slate-700 flex flex-col gap-2">
        <p class="">
          In Iceland, earning the average UK salary takes just under 40 days or 954 hours of work. In comparison, in the
          UK, you'd need to work an additional 569 days to reach the same £45,687. Iceland's average hourly wage is
          £47.87, significantly higher than the UK's £29.98.
        </p>
      </div>
    </article>

    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/norway.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            3
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/norway.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        norway
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-green rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          1,135 hours
        </span>
      </div>

      <div class="text-base font-medium leading-normal text-left text-slate-700 flex flex-col gap-2">
        <p class="">
          Norwegians only need to work 1,135 hours, or just 47 days, to earn the UK's average salary of £45,687, saving
          themselves over 388 hours compared to Brits.
        </p>
        <p class="">
          With an average hourly rate of £40.25, Norway's wages far surpass the UK's £29.98 per hour, making it a much
          quicker path to a higher income.
        </p>
      </div>
    </article>

    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/denmark.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            4
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/denmark.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        denmark
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-green rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          1,144 hours
        </span>
      </div>

      <div class="text-base font-medium leading-normal text-left text-slate-700 flex flex-col gap-2">
        <p class="">
          Danish workers need to put in approximately 1,144 hours, or 48 full days, to match the average annual salary
          in the UK. On average, they work 1,380 hours per year—144 hours fewer than the average Brit.
        </p>
        <p class="">
          Additionally, the typical Danish worker earns £9,442 more annually, with an impressive hourly wage of £39.95.
        </p>
      </div>
    </article>

    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/netherlands.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            5
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/netherlands.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        Netherlands
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-green rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          1,160 hours
        </span>
      </div>

      <div class="text-base font-medium leading-normal text-left text-slate-700 flex flex-col gap-2">
        <p class="">
          The Dutch could work around 364 hours less than the average Brit to earn the UK's annual salary. Thanks to
          their estimated hourly rate of £39.39, they could earn the UK's average salary in just over 48 days.
        </p>
        <p class="">
          With an average annual income of £55,654, workers in the Netherlands earn significantly more than the UK
          average of £45,688 per year.
        </p>
      </div>
    </article>
  </section>
</div>

<div class="section_primary" id="most-hours">
  <section class="mt-16 text-center max-w-3xl mx-auto container px-6 lg:px-0">
    <h2
      class="px-5 py-0 text-3xl font-bold leading-snug text-slate-700 max-sm:text-2xl font-family-Masqualero mx-auto max-w-3xl"
    >
      Top 5 countries where you'd have to work the most hours to earn the UK salary
    </h2>

    <p class="mt-5 mb-10 border px-2 py-2 border-[#2C415A] rounded-md font-semibold max-w-xl mx-auto">
      <i class="far fa-clock"></i>
      Annual number of hours needed to work to earn UK salary
    </p>
  </section>

  <section class="flex flex-wrap gap-12 lg:gap-x-8 justify-center p-5 mx-auto my-0 lg:pb-24 max-w-[1200px]">
    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/mexico.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            1
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/mexico.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        Mexico
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-[#E97657] rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          6,211 hours
        </span>
      </div>

      <div class="text-base font-medium leading-normal text-left text-slate-700 flex flex-col gap-2">
        <p class="">
          In Mexico, workers would need to put in 6,211 hours—equivalent to over 8.5 months of working every single
          day—to match the UK's average annual salary.
        </p>
        <p class="">
          With an average hourly rate of just £7.36, far lower than the UK's £29.98, average Mexicans work 2,207 hours
          per year to earn £16,235. However, it's worth noting that the cost of living in Mexico is considerably lower
          than in the UK, meaning you can live more comfortably on a lower income. This desire for higher salaries and
          new job opportunities does mean many leave the country for jobs abroad to be able to
          <a href="https://www.remitly.com/gb/en/mexico" target="_blank">
            send money to Mexico
          </a>
          to their loved ones.
        </p>
      </div>
    </article>

    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/greece.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            2
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/greece.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        greece
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-[#E97657] rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          3,615 hours
        </span>
      </div>

      <div class="text-base font-medium leading-normal text-left text-slate-700 flex flex-col gap-2">
        <p class="">
          In
          <a href="https://www.remitly.com/gb/en/greece" target="_blank">
            Greece
          </a>
          , workers would need to put in 3,615 hours to match the average UK annual salary of £45,688, while UK workers
          only need to work 1,524 hours for the same amount.
        </p>
        <p class="">
          This amounts to an extra 2,091 hours or 87 full days of work. By contrast, working 2,090 hours a year in
          Greece is typical, but that only earns workers £23,977 annually. According to Immigrant Invest, the cost of
          living in Greece is lower than 58% of countries worldwide. Despite this, recent estimates suggest there are
          around 77,000 people born in Greece who are living in the UK, showing the desire for a higher-paying job.
        </p>
      </div>
    </article>

    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/hungary.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            3
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/hungary.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        Hungary
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-[#E97657] rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          3,051 hours
        </span>
      </div>

      <div class="text-base font-medium leading-normal text-left text-slate-700 flex flex-col gap-2">
        <p class="">
          Hungarian workers would need to put in 3,051 hours to earn the UK average salary, an additional 1,527 hours
          beyond their typical work schedule. Currently, people in
          <a href="https://www.remitly.com/gb/en/hungary" target="_blank">
            Hungary
          </a>
          earn £14.98 per hour and work 1,527 hours annually to make an average salary of £25,144. . The latest data
          from the Hungarian Central Statistical Office shows that 2023 saw the biggest emigration of Hungarians on
          record as many seek better employment prospects elsewhere.
        </p>
      </div>
    </article>

    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/slovakia.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            4
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/slovakia.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        Slovakia
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-[#E97657] rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          2,961 hours
        </span>
      </div>

      <div class="text-base font-medium leading-normal text-left text-slate-700 flex flex-col gap-2">
        <p class="">
          In Slovakia, workers would need to put in 2,961 hours, equivalent to 123 full days, to earn the UK average
          salary.
        </p>
        <p class="">
          Slovakian workers make £15.43 per hour and work 1,631 hours annually to earn an average salary of £25,162. By
          contrast, in the UK, workers put in 107 fewer hours and earn an average salary of £45,688. Despite this huge
          number of hours to match the UK's average salary, Slovakia's cost of living is 48% less expensive than the
          UK's, according to Livingcost.
        </p>
      </div>
    </article>

    <article class="flex flex-col items-center w-[200px] max-md:w-[calc(33%_-_20px)] max-sm:w-full">
      <figure class="overflow-hidden relative mb-5 w-full rounded-xl h-[185px]">
        <img src="images/cz.webp" alt="" class="object-cover size-full" />
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            5
          </span>
        </div>
      </figure>

      <div class="">
        <img src="images/flags/czech-republic.svg" class="mx-auto h-10 mb-4" alt="" />
      </div>

      <h2 class="mb-4 text-xl font-bold text-slate-700 uppercase">
        Czech Republic
      </h2>

      <div class="flex gap-1.5 items-center px-4 py-1.5 mb-4 text-base font-bold bg-[#E97657] rounded-md text-[white]">
        <i class="fas fa-clock"></i>
        <span>
          2,723 hours
        </span>
      </div>

      <div class="text-base font-medium leading-normal text-left text-slate-700 flex flex-col gap-2">
        <p class="">
          In the Czech Republic, workers would need to put in 2,723 hours to match the average UK salary, compared to
          their typical 1,766 hours. The average annual salary in the Czech Republic is £29,612, significantly lower
          than the UK's £45,688.
        </p>
        <p class="">
          On top of that, Brits work 242 fewer hours per year but earn over £16,000 more. According to the UK's 2021
          Census, there are just over 50,000 Czech-born residents living in the UK. This was a significant increase
          compared to the 2001 UK Census, where just 12,000 Czech-born people were residing in the UK, showing the Czech
          Republic's desire for higher-paying career opportunities.
        </p>
      </div>
    </article>
  </section>
</div>