@use '@styles/settings' as *;

.social {
  &__links {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    @include sizing('gap', size(4));
  }
}
