<div data-module="Social" style="opacity: 0" class="social u-load-hide {{containerModifiers}}">
  {{#if shareTitle}}
    <h3 class="u-p u-bold u-uppercase">
      {{shareTitle}}
    </h3>
  {{/if}}
  <div class="social__links u-spacing-t-xxsml">
    <a
      href="#"
      class="u-icon-x is-link is-body is-xxlrg js-socialLink"
      data-platform="x"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Share on X"
    ></a>
    <a
      href="#"
      class="u-icon-linkedin is-link is-body is-xxlrg js-socialLink"
      data-platform="linkedin"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Share on LinkedIn"
    ></a>
    <a
      href="#"
      class="u-icon-facebook is-link is-body is-xxlrg js-socialLink"
      data-platform="facebook"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Share on Facebook"
    ></a>
    <a
      href="#"
      class="u-icon-reddit is-link is-body is-xxlrg js-socialLink"
      data-platform="reddit"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Share on Reddit"
    ></a>
  </div>
</div>