@use '../settings' as *;

.u-load-hide {
  opacity: 0;
}

.u-load-fade-in {
  animation-name: kf-fade-in;
  animation-duration: transition-duration(med);
  animation-timing-function: transition-timing(med);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
