.u-load-hide {
  opacity: 0;
}

.u-load-fade-in {
  animation-duration: var(--duration);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: kf-fade-in;
  animation-timing-function: var(--timing);
}
