.u-ratio-1x1 {
  aspect-ratio: 1 / 1;
}

.u-ratio-4x3 {
  aspect-ratio: 4 / 3;
}

.u-ratio-16x9 {
  aspect-ratio: 16 / 9;
}

.u-ratio-2x1 {
  aspect-ratio: 2 / 1;
}

.u-ratio-3x2 {
  aspect-ratio: 3 / 2;
}

.u-ratio-5x4 {
  aspect-ratio: 5 / 4;
}

.u-ratio-3x1 {
  aspect-ratio: 3 / 1;
}

.u-ratio-4x5 {
  aspect-ratio: 4 / 5;
}

.u-ratio-2x3 {
  aspect-ratio: 2 / 3;
}

.u-ratio-9x16 {
  aspect-ratio: 9 / 16;
}
