@use '../settings' as *;

.u-text-light {
  color: $light;
}

.u-text-dark {
  color: $dark;
}

.u-text-blue-light {
  color: $blue-light;
}

.u-text-blue-dark {
  color: $blue-light;
}

.u-text-cream {
  color: $cream;
}
