<header
  class="flex overflow-hidden flex-col justify-center items-center px-20 py-24 font-extrabold text-center bg-grey text-slate-700 max-md:px-5 max-md:pt-24"
>
  <div class="flex flex-col max-w-full w-[710px]">
    <h1 class="text-9xl leading-[144px] max-md:max-w-full max-md:text-6xl max-md:leading-none font-family-Masqualero">
      You
      <span class="text-[rgba(179,192,102,1)]">vs</span>
      <br />
      <span class="whitespace-nowrap">The W<img src="./images/earth.svg" alt="" class="inline w-10 md:w-16 lg:w-20">rld</span>
    </h1>
    <p class="self-center mt-16 text-2xl lg:text-3xl leading-9 max-md:mt-10 max-md:max-w-full">
      Discover how your salary compares to the rest of the world with our interactive calculator.
    </p>
  </div>
</header>
