<section class="p-10 mx-auto my-0 bg-orange-50 max-md:p-5">
  <div class="mb-16 text-center container mx-auto">
    <h2 class="mb-5 text-3xl font-extrabold leading-tight text-slate-700 max-sm:text-2xl font-family-Masqualero">
      Four expert tips on saving and sending money for your loved ones abroad
    </h2>
    <p class="mx-auto my-0 text-base font-semibold leading-tight max-w-[1080px] text-slate-700 max-sm:text-sm">
      Managing finances can be stressful, especially for those who have to ensure they have enough money aside for their
      loved ones each month. That's why the experts at Remitly have put together some expert tips on how to save money
      and things to consider when sending money to your friends and family abroad.
    </p>
  </div>

  <div class="flex flex-wrap gap-10 justify-center max-md:gap-5 max-sm:flex-col">
    <!-- Tip 1: Budgeting -->
    <article class="flex flex-col items-center w-[310px] max-md:w-[45%] max-sm:w-full">
      <div
        class="flex relative justify-center items-center mb-8 w-56 h-56 rounded-full bg-[#6FA0AF] max-sm:h-[180px] max-sm:w-[180px]"
      >
        <i class="far fa-coins text-8xl text-white max-sm:text-6xl"></i>
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            1
          </span>
        </div>
      </div>
      <div class="text-center">
        <h2 class="mb-4 lg:mb-11 text-xl font-extrabold uppercase text-slate-700">
          Budgeting
        </h2>
        <p class="text-base font-semibold leading-tight text-left text-slate-700">
          Budgeting your monthly income is important as it ensures you can make all payments on time and send the
          desired amount to your loved ones. You need to consider your income and expenditures to evaluate the monthly
          amount you can send. Not only is this important for you so you can be financially secure, but it will also
          help your loved ones, as they can work out their expenditures each month based on what you're sending.
        </p>
      </div>
    </article>

    <!-- Tip 2: Tax Implications -->
    <article class="flex flex-col items-center w-[310px] max-md:w-[45%] max-sm:w-full">
      <div
        class="flex relative justify-center items-center mb-8 w-56 h-56 bg-[#B3C066] rounded-full max-sm:h-[180px] max-sm:w-[180px]"
      >
        <i class="far fa-file text-8xl text-white max-sm:text-6xl"></i>
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            2
          </span>
        </div>
      </div>
      <div class="text-center">
        <h2 class="mb-4 text-xl font-extrabold uppercase text-slate-700">
          Familiarise yourself with tax implications
        </h2>
        <p class="text-base font-semibold leading-tight text-left text-slate-700">
          Depending on the country you're sending money to, there may be tax implications for money that gets sent from
          abroad. The nature and amount will depend on whether your transfer will be taxed, but typically, larger
          amounts may alert the authorities. For example, in the case of a large sum being transferred to someone in the
          US, you may have to fill out an IRS Form and report it as a foreign gift. Once you understand the tax
          implications of your destination country, you may need to find out how to report any personal transfers so you
          can avoid any penalties or fines.
        </p>
      </div>
    </article>

    <!-- Tip 3: Timing -->
    <article class="flex flex-col items-center w-[310px] max-md:w-[45%] max-sm:w-full">
      <div
        class="flex relative justify-center items-center mb-8 w-56 h-56 bg-[#E97657] rounded-full max-sm:h-[180px] max-sm:w-[180px]"
      >
        <i class="far fa-clock text-8xl text-white max-sm:text-6xl"></i>
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            3
          </span>
        </div>
      </div>
      <div class="text-center">
        <h2 class="mb-4 lg:mb-11 text-xl font-extrabold uppercase text-slate-700">
          Timing
        </h2>
        <p class="text-base font-semibold leading-tight text-left text-slate-700">
          The timing of your transfer may affect the amount your loved ones receive. Exchange rates frequently change
          depending on the economies of both the sender and the recipient's countries. It's recommended that you send
          money when rates are high if your send currency is stronger than the one you're converting to. If you time
          your transfers well, and capitalise on high rates, you can maximize the amount your loved ones receive.
        </p>
      </div>
    </article>

    <!-- Tip 4: Shop Around -->
    <article class="flex flex-col items-center w-[310px] max-md:w-[45%] max-sm:w-full">
      <div
        class="flex relative justify-center items-center mb-8 w-56 h-56 bg-[#FFBC69] rounded-full max-sm:h-[180px] max-sm:w-[180px]"
      >
        <i class="far fa-shopping-bag text-8xl text-white max-sm:text-6xl"></i>
        <div
          class="bg-vector absolute top-0 right-0 mx-auto left-0 text-xl font-bold h-[54px] text-slate-700 w-[42px] flex items-center justify-center"
        >
          <span class="pb-3">
            4
          </span>
        </div>
      </div>
      <div class="text-center">
        <h2 class="mb-4 lg:mb-11 text-xl font-extrabold uppercase text-slate-700">
          Shop around
        </h2>
        <div class="text-base font-semibold leading-tight text-left text-slate-700">
          <p>
            Whether it's a bank or a company specifically dedicated to sending money abroad, the provider will have its
            own fees. You may have seen the mid-market rate, the halfway point between the buy and sell price, reported
            as the 'real rate'. However, this is more of a benchmark as opposed to an accessible rate, and providers
            claiming to offer this may have hidden fees to maximize their margin. That's why you should shop around to
            find the best rate, to ensure you're getting the best and most convenient option possible.
          </p>
          <br />
          <p>
            At Remitly, we focus on the overall price and not just the rate, and costs can differ depending on whether
            you pay with a bank account, debit card, or credit card.
          </p>
        </div>
      </div>
    </article>
  </div>
</section>