<section class="flex overflow-hidden flex-col justify-center items-center px-16 py-11 bg-light max-md:px-5">
  <div class="w-full max-w-[1080px] max-md:max-w-full">
    <div class="flex flex-col gap-4 md:gap-8 items-center">
      <p class="text-lg text-center">
        Find out how long it would take foreign workers to earn your salary and gain a new perspective on
        <a href="https://blog.remitly.com/money-transfer/reasons-people-send-money-home/" target="_blank">
          remittances' vital role
        </a>
        in supporting families and communities worldwide. We’ve taken the estimated hourly rate in OECD countries so
        that you can calculate how many hours employees will have to work to earn your salary in other countries around
        the world. This tool highlights the financial challenges faced by workers abroad, highlighting how powerful
        remittances can be to bridge income inequalities and strengthen communities.
      </p>
      <p class="text-lg text-center">
        Ready to see the global comparison? Let’s get started!
      </p>
    </div>
  </div>
</section>