@use '../settings' as *;

.u-content blockquote,
.u-blockquote {
  position: relative;

  @extend %f-italic;

  &::before,
  &::after {
    font-style: normal;
  }

  &::before {
    content: '\201C';
    position: absolute;
    left: -10px;
  }

  &::after {
    content: '\201D';
    position: relative;
    right: 4px;
  }
}
