@use 'blockquote' as *;
@use 'em' as *;
@use 'h1' as *;
@use 'h2' as *;
@use 'h3' as *;
@use 'h4' as *;
@use 'h5' as *;
@use 'h6' as *;
@use 'hr' as *;
@use 'ol' as *;
@use 'p' as *;
@use 'pre' as *;
@use 'small' as *;
@use 'strong' as *;
@use 'sub' as *;
@use 'sup' as *;
@use 'ul' as *;
