@use '../settings' as *;

.u-content pre,
.u-pre {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  break-inside: avoid;

  @extend %f-paragraph;
  @include sizing('padding', size(4));

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    @include sizing('width', size(1));
  }
}
