<footer data-module="Footer" style="opacity: 0" class="u-load-hide">
  Brought to you by
  <img src="./images/remitly-logo.svg" alt="Remitly Logo" />
  <a href="/" target="">
    Home
  </a>
</footer>