<footer
  class="flex relative gap-10 justify-center items-center w-full h-32 bg-[#6FA0AF] max-md:gap-5 max-md:px-5 max-md:py-0 max-sm:flex-col max-sm:gap-4 max-sm:p-5 max-sm:h-auto max-sm:text-center"
>
  <p
    class="text-base font-bold leading-4 text-right text-orange-50 max-sm:text-center pt-6 lg:pt-0"
  >
    Brought to you by
  </p>
  <img
    src="images/remitly_logo.svg"
    alt="Remitly Logo"
    class="object-contain h-[82px] w-[105px]"
  />
  <a href="https://www.remitly.com/" class="text-base font-bold leading-4 text-orange-50 underline pb-14 lg:pb-0">
    Homepage
  </a>
</footer>
