<section
  class="flex flex-col gap-9 justify-center items-center px-16 pt-16 pb-16 w-full bg-slate-700 min-h-[304px] max-md:px-8 max-md:py-10 max-sm:px-5 max-sm:py-8"
>
  <h2
    class="text-3xl font-extrabold leading-10 text-center text-orange-50 max-sm:text-2xl"
  >
    Methodology
  </h2>
  <p
    class="text-base font-bold leading-5 text-center text-orange-50 max-w-[1300px] max-md:text-sm max-sm:text-sm"
  >
    We took the OECD
    <a href="https://www.oecd.org/en/data/indicators/average-annual-wages.html" target="_blank" rel="nofollow" class="underline text-slate-400">average annual wages</a>
    and
    <a href="https://www.oecd.org/en/data/indicators/hours-worked.html" target="_blank" rel="nofollow" class="underline text-slate-400">hours worked</a>
    in 2023. This data is accurate as of 18/02/2025. We used OECD countries for compatibility and consistency, as all data was sourced from the same place.
    <br />
    <br />
    We converted each country's average annual wage to GBP to find each country's annual wage in their local currency. Pricing data is correct as of 21/02/25.
    <br />
    <br />
    We calculated each country's hourly rate to find out how many hours each country would need to work to earn the UK's annual average salary.
  </p>
  <div class="container mx-auto lg:max-w-4xl">
    <p class="text-white text-center font-bold text-lg pb-3">Sources</p>
    <ul class="list-none break-words text-base text-white text-center space-y-2 max-md:text-sm">
      <li>
        <a href="https://migrationobservatory.ox.ac.uk/resources/briefings/long-term-international-migration-flows-to-and-from-the-uk/"
          rel="nofollow" class="hover:no-underline hover:text-white">https://migrationobservatory.ox.ac.uk/resources/briefings/long-term-international-migration-flows-to-and-from-the-uk/ </a>
      </li>
      <li>
        <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/populationoftheunitedkingdombycountryofbirthandnationality"
          rel="nofollow" class="hover:no-underline hover:text-white">https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/populationoftheunitedkingdombycountryofbirthandnationality</a>
      </li>
      <li><a href="https://livingcost.org/cost/slovakia/united-kingdom" rel="nofollow" class="hover:no-underline hover:text-white">https://livingcost.org/cost/slovakia/united-kingdom</a>
      </li>
      <li>
        <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/internationalmigration/bulletins/internationalmigrationenglandandwales/census2021"
          rel="nofollow" class="hover:no-underline hover:text-white">https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/internationalmigration/bulletins/internationalmigrationenglandandwales/census2021</a>
      </li>
      <li>
        <a href="https://444.hu/2024/04/07/tavaly-csucsra-nott-a-magyarorszagi-kivandorlas-2010-ota-mar-tobb-mint-324-ezren-hagytak-el-az-orszagot"
          rel="nofollow" class="hover:no-underline hover:text-white">https://444.hu/2024/04/07/tavaly-csucsra-nott-a-magyarorszagi-kivandorlas-2010-ota-mar-tobb-mint-324-ezren-hagytak-el-az-orszagot</a>
      </li>
    </ul>
  </div>
</section>
