/* stylelint-disable selector-class-pattern */
@use '@styles/settings' as *;

.u-table {
  width: 100%;
  border-collapse: collapse;
  border-style: solid;
  border-top-left-radius: radius(med);
  border-top-right-radius: radius(med);

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  thead {
    tr {
      background-color: $blue-dark;
    }
  }

  tbody {
    tr {
      background-color: $light;

      &:nth-child(even) {
        background-color: $cream;
      }
    }
  }

  th,
  td {
    vertical-align: middle;
    border: 1px solid rgba($blue-dark, .1);
    white-space: nowrap;

    @extend %f-paragraph;
    @include sizing('padding', size(4));

    &.has-radius-t-r {
      border-top-color: transparent;
      border-right-color: transparent;
      border-top-right-radius: radius(med);
    }

    &.has-radius-t-l {
      border-top-color: transparent;
      border-left-color: transparent;
      border-top-left-radius: radius(med);
    }
  }

  th {
    position: relative;
    color: $light;

    @extend %f-heading-bold;
  }

  td {
    color: $body;

    &.is-rank {
      position: relative;
      z-index: z-index(sml);
      color: $light;

      @extend %f-body-bold;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: z-index(hidden);
        background-color: $blue-dark;
        border-radius: 100%;
        transform: translate(-50%, -50%);

        @include sizing('width', 40px);
        @include sizing('height', 40px);
      }
    }
  }
}

.dt-layout-full {
  width: 100%;
  overflow-x: auto;

  @include sizing('margin-top', size(4));
  @include sizing('margin-bottom', size(4));
}

.dt-column-header {
  display: inline-flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  @include sizing('gap', size(4));

  .is-rank & {
    width: auto;
  }
}

.dt-column-order {
  @include font-smoothing;

  margin-left: auto;
  color: $light;
  font-family: icon, sans-serif;
  line-height: 1;

  &::before {
    content: '\e90c';

    .dt-ordering-asc & {
      content: '\e90b';
    }

    .dt-ordering-desc & {
      content: '\e909';
    }
  }
}

.dt-layout-row {
  display: flex;

  @include mq(breakpoint(med)) {
    align-items: center;
    justify-content: flex-start;
  }

  @include mq(breakpoint(med), max-width) {
    flex-direction: column;

    @include sizing('gap', size(2));
  }
}

.dt-length {
  label {
    display: flex;
    align-items: center;

    @include sizing('gap', size(2));
    @extend %f-body-bold;
    @extend %f-paragraph;
  }

  select {
    border: 1px solid rgba($dark, .2);

    @include sizing('padding', size(2));
  }
}

.dt-layout-end {
  @include mq(breakpoint(med)) {
    margin-left: auto;
  }
}

.dt-search {
  display: flex;
  align-items: center;

  @include sizing('gap', size(2));

  label {
    @extend %f-paragraph;
    @extend %f-body-bold;
  }

  input {
    width: 100%;
    border: 1px solid rgba($dark, .2);

    @include sizing('padding', [size(2), size(4)]);
    @extend %f-paragraph;
  }
}

.dt-info {
  @extend %f-small;

  @include mq(breakpoint(med), max-width) {
    text-align: center;
  }
}

.dt-paging nav {
  display: flex;

  @include sizing('gap', size(1));
  @extend %f-small;
  @extend %f-body-bold;

  @include mq(breakpoint(med), max-width) {
    justify-content: center;
  }

  button {
    border: 1px solid rgba($dark, .2);

    @include sizing('padding', size(2));

    &:focus {
      background-color: $body;
      color: $light;
    }

    @include mq-hover {
      cursor: pointer;

      @include transition('background-color, color');

      &:hover {
        background-color: $body;
        color: $light;
      }
    }
  }
}
