<div class="py-16 bg-[#6FA0AF]">
  <div class="container mx-auto px-6 lg:px-0">
    <div class="py-8 lg:py-12 mx-auto max-w-3xl">
      <div class="flex flex-col gap-8 lg:gap-12 text-center">
        <h3 class="text-white font-bold text-2xl lg:text-3xl font-family-Masqualero">
          The countries where you have to work more hours than the UK
        </h3>

        <div class="flex lg:block flex-col border rounded-md border-white p-3 text-white space-x-3 space-y-2">
          <span class="">
            <i class="fas fa-coin"></i>
            Estimated hourly rate (£)
          </span>
          <span class="">
            <i class="fas fa-clock"></i>
            Annual number of hours needed to work to earn UK salary
          </span>
          <span class="">
            <i class="fas fa-briefcase"></i>
            Difference to the average annual hours in the UK
          </span>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pt-3 pt-lg-4">
      <div class="lg:max-w-6xl mx-auto table-block">
        <div class="table-responsive js-scrollable mb-0 pb-1 pb-lg-2">
          <table id="data" class="display table table_asc mb-0" style="width:100%">
            <thead>
              <tr class="sorting-row">
                <th>
                  <div class="heading-holder py-2 justify-center" style="border-top-left-radius: 8px">
                    <div class="sorting-icons white-sorting-icons pt-2">
                      <i class="fas fa-sort" aria-hidden="true"></i>
                      <i class="fas fa-sort-up" aria-hidden="true"></i>
                      <i class="fas fa-sort-down" aria-hidden="true"></i>
                    </div>
                  </div>
                </th>

                <th>
                  <div class="heading-holder py-2 text-left">
                    <div class="d-inline-block text-left pl-3 pt-2">
                      <p class="mb-0 text-white">
                        Country
                      </p>
                    </div>
                  </div>
                </th>

                <th>
                  <div class="heading-holder py-2">
                    <div class="table-title">
                      <div class="icon-block rounded p-2">
                        <i class="fas fa-coin text-3xl table-title-icon text-white"></i>
                        <div class="sorting-icons dark-sorting-icons">
                          <i class="fas fa-sort" aria-hidden="true"></i>
                          <i class="fas fa-sort-up" aria-hidden="true"></i>
                          <i class="fas fa-sort-down" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>

                <th>
                  <div class="heading-holder py-2">
                    <div class="table-title">
                      <div class="icon-block rounded p-2">
                        <i class="fas fa-clock text-3xl table-title-icon text-white"></i>
                        <div class="sorting-icons dark-sorting-icons">
                          <i class="fas fa-sort" aria-hidden="true"></i>
                          <i class="fas fa-sort-up" aria-hidden="true"></i>
                          <i class="fas fa-sort-down" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>

                <th>
                  <div class="heading-holder py-2" style="border-top-right-radius: 8px">
                    <div class="table-title">
                      <div class="icon-block rounded p-2">
                        <i class="fas fa-briefcase text-3xl table-title-icon text-white"></i>
                        <div class="sorting-icons dark-sorting-icons">
                          <i class="fas fa-sort" aria-hidden="true"></i>
                          <i class="fas fa-sort-up" aria-hidden="true"></i>
                          <i class="fas fa-sort-down" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
          </table>
        </div>

        <div class="text-center pt-3 pt-sm-4 pt-lg-5">
          <p class="mb-0">
            <a href="#" class="control_length font-weight-bold text-uppercase mb-0">
              View all
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>