@mixin hardware($acceleration: true) {
  @if $acceleration {
    backface-visibility: hidden;
    will-change: transform, opacity;
  } @else {
    backface-visibility: visible;
    will-change: auto;
  }
}
