@use 'sass:map';

@function deep-get($map, $keys...) {
  $result: $map;

  @each $key in $keys {
    $result: map.get($result, $key);
  }

  @return $result;
}

// Usage
// color: deep-get($variables, link, dark, default);
