@use 'string-replace' as *;
@use 'sass:map';
@use 'sass:list';
@use 'sass:string';

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $exts: eot woff2 woff ttf svg,
  $style: normal,
  $display: swap
) {
  $src: null;
  $extensions: (
    eot: '?',
    svg: '#' + string-replace($font-family, ' ', '_')
  );
  $formats: (
    otf: 'opentype',
    ttf: 'truetype'
  );

  @each $ext in $exts {
    $extension: if(
      map.has-key($extensions, $ext),
      $ext + map.get($extensions, $ext),
      $ext
    );
    $format: if(map.has-key($formats, $ext), map.get($formats, $ext), $ext);
    $src: list.append(
      $src,
      url(string.quote($file-path + '.' + $extension)
    )
    format(string.quote($format)),
    comma
  );
  }

  @font-face {
    font-weight: $weight;
    font-style: $style;
    font-family: string.quote($font-family);
    src: $src;
    font-display: $display;
  }
}

// Usage
// @include font-face('icons', '@icons/icons', normal, svg woff ttf);
