@use '../settings/color' as *;

@mixin scrollbar(
  $foreground: $dark,
  $background: $light
) {
  scrollbar-color: $foreground $background;
  scrollbar-width: thin;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    width: 1.25rem;
    height: 1.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground;
  }

  &::-webkit-scrollbar-track {
    background: $background;
  }
}
